<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779335770828-v4utp9bv19dsn4uv316ev3iigk6q0vgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779335770828-v4utp9bv19dsn4uv316ev3iigk6q0vgo</string>
	<key>API_KEY</key>
	<string>AIzaSyB3ermkbthb3WgFdRCqobrM2e5M3WSRYmk</string>
	<key>GCM_SENDER_ID</key>
	<string>779335770828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sihChatbot</string>
	<key>PROJECT_ID</key>
	<string>sih23-bf8c1</string>
	<key>STORAGE_BUCKET</key>
	<string>sih23-bf8c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779335770828:ios:068ad2a2179bff4d821869</string>
</dict>
</plist>